.g-board {
    background-color: #b6ff00;
    box-sizing: border-box;
    height: 100%;
}

section {
    background-color: #dedede;
    border: 5px solid rgba(85, 97, 85, 0.27);
    margin: 5px;
    padding: 5px;
}

section[fxFlex=""] {
    background-color: rgba(0, 128, 0, 0.35);
}
