<div fxFlex fxLayout="column" class="g-board">
    <div fxLayout="row" fxFlex>
        <section fxFlex>Word1</section>
        <section fxFlex>Word2</section>
        <section fxFlex>Word3</section>
        <section fxFlex>Word4</section>
        <section fxFlex>Word5</section>
    </div>
    <div fxLayout="row" fxFlex>
        <section fxFlex>Word1</section>
        <section fxFlex>Word2</section>
        <section fxFlex>Word3</section>
        <section fxFlex>Word4</section>
        <section fxFlex>Word5</section>
    </div>
    <div fxLayout="row" fxFlex>
        <section fxFlex>Word1</section>
        <section fxFlex>Word2</section>
        <section fxFlex>Word3</section>
        <section fxFlex>Word4</section>
        <section fxFlex>Word5</section>
    </div>
    <div fxLayout="row" fxFlex>
        <section fxFlex>Word1</section>
        <section fxFlex>Word2</section>
        <section fxFlex>Word3</section>
        <section fxFlex>Word4</section>
        <section fxFlex>Word5</section>
    </div>
</div>