@import '../../styles/wordhunt.colors.scss';
@import '../../styles/wordhunt.scss';

$gutter-width-md: 20px;
$gutter-width-sm: 10px;
$gutter-width-xs: 6px;

.game-board {
    background-color: $primary-color;
    height: 100%;
    width: 100%;
    float: right;
    margin: 0;
    border: 0;

    padding: $gutter-width-md;
    @include when-xs {
        padding: $gutter-width-xs;
    }

    @include when-sm {
        padding: $gutter-width-sm;
    }
}

.wrapper {
    margin: 1em 0;
}

.wrapper-inner {
    display: flex;
    justify-content: space-between;

    margin: 0 (-$gutter-width-md / 2);
    @include when-xs {
        margin: 0 (-$gutter-width-xs / 2);
    }
    @include when-sm {
        margin: 0 (-$gutter-width-sm / 2);
    }
}

.game-field {
    background-color: $secondary-text-color;
    border: 2px solid $divider-color;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: ($gutter-width-md / 2) ($gutter-width-md / 2);
    height: 4em;

    @include when-xs {
        font-size: 1em;
        margin: ($gutter-width-xs / 2) ($gutter-width-xs / 2);
        height: 2em;
    }

    @include when-sm {
        font-size: 1em;
        margin: ($gutter-width-sm / 2) ($gutter-width-sm / 2);
        height: 2em;
    }

    @include when-md {
        font-size: 1.5em;
        height: 3em;
    }

    &:hover {
        background-color: $divider-color;
        border: 2px solid $secondary-text-color;
    }
}