@import '../styles/game.scss';

.game-board {
    height: 100%;
}

.board-container {
    /*height: 100%;*/
    height: -webkit-calc(100% - 64px);
    height: -moz-calc(100% - 64px);
    height: calc(100% - 64px);
    background-color: aqua;
}