
@import '../../styles/wordhunt.scss';

.game-main-nav {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;

    @include when-xs {
        height: 20%;
    }
}

.game-main-board {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;

    @include when-xs {
        height: 80%;
    }
}

.full-main-screen {
    height: 100%;
}
