@import '../../styles/wordhunt.colors.scss';
@import '../../styles/wordhunt.scss';

.game-nav {
    background-color: $primary-color-dark;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0;
    border: 0;

    @include when-xs {
        float: none;
    }
}