<div class="center-block button-div">
    <div class="login-button-group" *ngIf="!isLoggedIn()">
        <a class="btn btn-default btn-block" [routerLink]="['/login']">Login</a>
    </div>
    <div class="main-button-group" *ngIf="isLoggedIn()">
        <p class="user-name">{{getUserName()}}</p>
        <a class="btn btn-default btn-block" [routerLink]="['/game']">Play</a>
        <a class="btn btn-default btn-block" [routerLink]="['/creategame']">Create game</a>
        <!--<a class="btn btn-default btn-block" [routerLink]="['/tutorial']">Tutorial</a>-->
        <a class="btn btn-default btn-block" [routerLink]="['/settings']">Settings</a>
        <a class="btn btn-default btn-block" [routerLink]="['/admin']" *ngIf="isAdmin()">Admin</a>
    </div>
    <div class="logout-button-group" *ngIf="isLoggedIn()">
        <a class="btn btn-default btn-block" (click)="logout()">Logout</a>
    </div>
</div>