<div class="main-content-container">
    <md-card>
        <md-card-title>Main menu</md-card-title>
        <md-card-content>
            <md-nav-list>
                <div *ngIf="!isLoggedIn()">
                    <md-list-item>
                        <a md-line [routerLink]="['/login']">Login</a>
                    </md-list-item>
                </div>
                <div *ngIf="isLoggedIn()">
                    <md-list-item>
                        <a md-line class="disabled" [routerLink]="['/game', 1]">Play</a>
                    </md-list-item>
                    <md-list-item>
                        <a md-line [routerLink]="['/creategame']">Create game</a>
                    </md-list-item>
                    <md-list-item>
                        <a md-line [routerLink]="['/settings']">Settings</a>
                    </md-list-item>
                    <md-list-item *ngIf="isAdmin()">
                        <a md-line [routerLink]="['/admin']">Admin</a>
                    </md-list-item>
                    <md-list-item *ngIf="isLoggedIn()">
                        <a md-line (click)="logout()">Logout</a>
                    </md-list-item>
                </div>
            </md-nav-list>
        </md-card-content>
    </md-card>
</div>