@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

#game-main-nav, #game-main-board {
    padding: 0;
    height: 100%;
}

.full-main-screen {
    height: 100%;
}
