@import '../styles/wordhunt.colors.scss';

#main-title {
    padding: 0.4em;
}
.main-screen {
    text-align: center;
    height:100%;
}

.main-content {
    background-color: $primary-color;
    min-height: 100%;
}