<div class="main-content-container">
    <md-card>
        <form name="form" (ngSubmit)="f.form.valid && createGame()" #f="ngForm" novalidate>
            <md-card-title>Create game</md-card-title>
            <md-card-content>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Game name" type="text" [(ngModel)]="game.name" name="gamename" #gamename="ngModel" maxlength="50" required />
                    <md-error *ngIf="f.submitted && !gamename.valid" class="form-error">Game name is required</md-error>
                </md-input-container>
                <div>
                    <div class="full-width">
                        Board width: {{game.boardWidth}}
                    </div>
                    <div class="full-width">
                        <md-slider [min]="5" [max]="8" [step]="1" [thumb-label]="true" [(ngModel)]="game.boardWidth" [value]="5" name="boardwidth" #boardwidth="ngModel"></md-slider>
                    </div>
                </div>
                <div>
                    <div class="full-width">
                        Board height: {{game.boardHeight}}
                    </div>
                    <div class="full-width">
                        <md-slider [min]="5" [max]="8" [step]="1" [thumb-label]="true" [(ngModel)]="game.boardHeight" [value]="5" name="boardheight" #boardheight="ngModel"></md-slider>
                    </div>
                </div>
                <div>
                    <div class="full-width">
                        Team count: {{game.teamCount}}
                    </div>
                    <div class="full-width">
                        <md-slider [disabled]="true" [min]="2" [max]="4" [step]="1" [thumb-label]="true" [(ngModel)]="game.teamCount" [value]="5" name="teamcount" #teamcount="ngModel" disabled></md-slider>
                    </div>
                </div>
                <div>
                    <div class="full-width">
                        Trap count: {{game.trapCount}}
                    </div>
                    <div class="full-width">
                        <md-slider [min]="0" [max]="8" [step]="1" [thumb-label]="true" [(ngModel)]="game.trapCount" [value]="5" name="trapcount" #trapcount="ngModel"></md-slider>
                    </div>
                </div>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Game type" type="text" [(ngModel)]="game.type" name="gametype" #gametype="ngModel" disabled required />
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="End mode" type="text" [(ngModel)]="game.endMode" name="endmode" #endmode="ngModel" disabled required />
                </md-input-container>

            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent">Create game</button>
                <button md-raised-button [routerLink]="['/main']">Back</button>
            </md-card-actions>
        </form>
    </md-card>
</div>