<div id="main-menu" class="center-block">
    <div class="login-button-group">
        <a class="btn btn-default btn-block" [routerLink]="['/login']">LOGIN</a>
    </div>
    <div class="main-button-group">
        <a class="btn btn-default btn-block" [routerLink]="['/game']">PLAY</a>
        <a class="btn btn-default btn-block" [routerLink]="['/howto']">HOW TO PLAY</a>
        <a class="btn btn-default btn-block" [routerLink]="['/settings']">SETTINGS</a>
    </div>
    <div class="logout-button-group">
        <a class="btn btn-default btn-block" [routerLink]="['/login']">LOGUT</a>
    </div>
</div>