@{
    ViewData["Title"] = "WordHunt! Loading, please wait.";
}

@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>*@
<app-comp>
    <style type="text/css">
        #loading-page {
            background-color: #fff;
            bottom: 0px;
            left: 0px;
            right: 0px;
            top: 0px;
            position: fixed;
            z-index: 999999;
        }

            #loading-page div.loading-content {
                color: rgb(63, 81, 181);
                text-align: center;
                font-family: monospace;
                margin-top: -37px;
                left: 0px;
                right: 0px;
                position: absolute;
                top: 50%;
            }

            #loading-page h1 {
                font-size: 26px;
                line-height: 35px;
                margin: 0px 0px 20px 0px;
            }

            #loading-page p {
                font-size: 18px;
                line-height: 14px;
                margin: 0px 0px 0px 0px;
            }
    </style>
    <div id="loading-page">
        <div class="loading-content">
            <h1>WordHunt is loading!</h1>
            <p>Please stand by...</p>
        </div>
    </div>
</app-comp>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
