<h3 md-dialog-title>
    <button md-button [ngClass]="colorClass">{{data.teamName}} wins!</button>
</h3>
<md-dialog-content>
    <div>Go back to main menu or wait for the game host to start new game!</div>
</md-dialog-content>
<md-dialog-actions>
    <div>
        <button md-raised-button color="accent" [md-dialog-close]="1">Go to main menu</button>
        <button *ngIf="data.canRestart" md-raised-button color="primary" [md-dialog-close]="2">Restart game</button>
    </div>
</md-dialog-actions>