/*@import 'deeppurple-amber.scss';*/
@import 'wh-theme.scss';

@import 'wordhunt.colors.scss';

html, body, main {
    height: 100%;
    margin: 0;
}

.button-div {
    width: 200px;
}

h1, h2, h3 {
    color: $primary-color-text;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@mixin when-xs() {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin when-sm() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin when-md() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin when-lg() {
    @media (min-width: 1200px) {
        @content;
    }
}