<div class="main-content-container">
    <md-card>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <md-card-title>Login</md-card-title>
            <md-card-content>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Login" type="text" [(ngModel)]="model.userName" name="username" #username="ngModel" required />
                    <md-error *ngIf="f.submitted && !username.valid" class="form-error">Name is required</md-error>
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Password" type="password" [(ngModel)]="model.password" name="password" #password="ngModel" required />
                    <md-error *ngIf="f.submitted && !password.valid">Password is required</md-error>
                </md-input-container>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="primary">Login</button>
                <button md-raised-button [routerLink]="['/main']">Back</button>
            </md-card-actions>
        </form>
    </md-card>
</div>