@import './game.scss';

.game-board {
    height: 100%;
}

.board-container {
    @include when-xs {
        height: -webkit-calc(100% - #{$toolbar-height-xs});
        height: -moz-calc(100% - #{$toolbar-height-xs});
        height: calc(100% - #{$toolbar-height-xs});
    }

    @include when-sm {
        height: -webkit-calc(100% - #{$toolbar-height-sm});
        height: -moz-calc(100% - #{$toolbar-height-sm});
        height: calc(100% - #{$toolbar-height-sm});
    }
}
